body {
    font-family: Arial, sans-serif;
    background: #eef1f4;
}

.container {
    width: 1000px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.product-line {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f5f6f8;
    padding: 6px;
    margin-bottom: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}


button {
    cursor: pointer;
}
